run = "bash run.sh"
language = "java"
entrypoint = "src/Main.java"

[nix]
channel = "stable-23_11"
packages = ["jdk"]

[[ports]]
localPort = 8080
externalPort = 80

[deployment]
run = ["sh", "-c", "bash run.sh"]
deploymentTarget = "autoscale"